<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공홈 요청사항 정의서</title>
    <link rel="stylesheet" href="./css/reset.css" type="text/css" />
    <link rel="stylesheet" href="./css/layout.css" type="text/css"/>
    <link rel="stylesheet" href="./css/main.css" type="text/css"/>
    <link rel="stylesheet" href="./css/footer.css" type="text/css"/>
</head>
<body>
    <%- include ("./components/layout.ejs") %>
    <div class="main-wrap">
        <h3>요구사항 정의서</h3>
        <ul class="content-wrap">

            <% for(let i=0; i<records.length; i++){ %>
            <li class="list-wrap">
                <div class="article-num">
                    <span><%= records[i].id %></span>
                </div>
                <div class="article-content">
                    <h4><%= records[i].title %></h4>
                    <p>제안자: <span><%= records[i].team %></span> / <span><%= records[i].name %></span></p>
                </div>
                <div class="button-wrap">
                    <div class="confirm1">
                        <label for="check1">1차검토</label>
                        <% if(records[i].confirm1 === 1){ %>
                            <img src="./img/confirm_true.png" alt=""/>
                        <% } %>
                        <% if(records[i].confirm1 === 0){ %>
                            <img src="./img/confirm_false.png" alt=""/>
                        <% } %>
                    </div>
                    <div class="confirm2">
                        <label for="check2">최종완료</label>
                        <% if(records[i].confirm1 === 1){ %>
                            <img src="./img/confirm_true.png" alt=""/>
                        <% } %>
                        <% if(records[i].confirm1 === 0){ %>
                            <img src="./img/confirm_false.png" alt=""/>
                        <% } %>
                    </div>
                    <button class="edit-button"><a href="/edit/<%= records[i].id %>">수정하기</a></button>
                    <button class="remove-button"><a href="/delete/<%= records[i].id %>"><img src="./img/trash_icon.png" alt=""/></a></button>
                </div>
            </li>
            <% } %>


            <div class="create-wrap">
                <button class="create-button"><a href="/create">글쓰기</a></button>
            </div>
        </ul>
        
    </div>
    <%- include ("./components/footer.ejs") %>
</body>
</html>